<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: {{ status_text }}</title>
  </head>
  <body>
    <h1>Une erreur s'est produite !</h1>
    <h2>"{{ status_code }} {{ status_text }}".</h2>

    <div>
      La page que vous cherchez est inexistante ou à été supprimée. Si vous pensez que la page à laquelle vous avez tenté d'accéder existe, veuillez vérifier votre URL. 
    </div>
  </body>
</html>