<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Erreur : création de compte</title>
  </head>
  <body>
    <h1>Une erreur s'est produite !</h1>
    <h2>"Erreur liée à la création de compte".</h2>

    <div>
      Vous ne pouvez créer un compte avec l'adresse mail ou le mot de passe que vous avez rentré, veuillez.<a href="{{ path('ctg_form_creation_compte_etudiant') }}">réessayer</a>.<br>
      Si vous avez déjà créé un compte veuillez vous connecter <a href="{{ path('login') }}">ici</a>.
    </div>
  </body>