<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Erreur : format de l'adresse email</title>
  </head>
  <body>
    <h1>Une erreur s'est produite !</h1>

    <div>
      L'adresse email que vous avez renseigné semble invalide, votre demande à malgré tout été prise en compte.
      Veuillez modifier votre adresse email dans votre espace perso afin d'éviter ce problème à l'avenir.
    </div>
  </body>